{
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": [2, {"semi": false }],
    "no-extra-semi": 2,
    "valid-jsdoc": "error",
    "no-var": 2,
    "eqeqeq": [2, "smart"],
    "arrow-parens": [2, "as-needed"],
    "consistent-this": 0,
    "func-names": [2],
    "generator-star-spacing": [2, "after"],
    "indent": [2, 2],
    "jsx-quotes": [1, "prefer-double"],
    "max-len": [1, 100, 2],
    "new-cap": [2, {"capIsNew": false}],
    "no-trailing-spaces": [2, { "skipBlankLines": true }],
    "no-unused-vars": [2, {"vars": "all", "varsIgnorePattern": "^___" }],
    "object-curly-spacing": 0,
    "one-var": 0,
    "prefer-reflect": 0,
    "space-before-function-paren": [2, "never"],
    "strict": 0,
    "no-shadow": [2, { "builtinGlobals": false, "hoist": "all" }],
    "import/named": 2,
    "import/no-mutable-exports": 2,
    "import/order": 2,
    "import/extensions": [2, {
      "json": "always",
      "js": "never",
      "validation": "always",
      "task": "always"
    }],
    "ramda/always-simplification": "error",
    "ramda/any-pass-simplification": "error",
    "ramda/both-simplification": "error",
    "ramda/complement-simplification": "error",
    "ramda/cond-simplification": "error",
    "ramda/either-simplification": "error",
    "ramda/eq-by-simplification": "error",
    "ramda/filter-simplification": "error",
    "ramda/if-else-simplification": "error",
    "ramda/map-simplification": "error",
    "ramda/merge-simplification": "error",
    "ramda/no-redundant-and": "error",
    "ramda/no-redundant-not": "error",
    "ramda/no-redundant-or": "error",
    "ramda/pipe-simplification": "error",
    "ramda/prefer-both-either": "error",
    "ramda/prefer-complement": "error",
    "ramda/prefer-ramda-boolean": "error",
    "ramda/prop-satisfies-simplification": "error",
    "ramda/reduce-simplification": "error",
    "ramda/reject-simplification": "error",
    "ramda/set-simplification": "error",
    "ramda/unless-simplification": "error",
    "ramda/when-simplification": "error"
  },
  "extends": ["standard", "plugin:ramda/recommended", "prettier"],
  "plugins": ["babel", "fp", "import", "prettier", "ramda"]
}
